.cmp_breadcrumbs {

  & ol {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.25rem;
    font-size: 0.875rem;
    line-height: 1.2;
  }

  & a,
  & span {
    color: var(--page-text);
  }

  & a {
    @apply tab-focus;
  }

  & li:has(+ .current) .separator,
  & span[aria-current="page"] {
    @apply sr-only;
  }
}