/**
 * Set global variables
 *
 * The issue TOC may appear on the homepage or the issue
 * landing page. These variables need to be present on
 * both pages, so we attach them to the <body> element.
 *
 * These variables are only used for the two-column
 * layout, when an issue cover image exists.
 */
body {
  --issue-column-left-width: 12rem;
  --issue-gap: 2rem;
}

@media (--laptops-sm) {

  body {
    --issue-column-left-width: 16rem;
  }
}

@media (--laptops) {

  body {
    --issue-column-left-width: 24rem;
    --issue-gap: 3rem;
  }
}

.obj_issue_toc {

  & .cover {
    display: inline-block;

    &:focus-visible {
      outline: 2px solid var(--page-text);
      outline-offset: 0.25rem;
    }

    & img {
      width: 100%;
      max-width: 16rem;
      height: auto;
      max-height: none;
    }
  }

  .section {
    margin-bottom: 6rem;

    > h2,
    > h3 {
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.25;
      background: var(--page-shade);
      color: var(--page-text);
    }
  }
}

@media (--tablets) {

  .obj_issue_toc {

    & .heading {
      margin-top: 2rem;
    }

    & .cover {
      width: 16rem;
    }

    & .section {
      padding: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;

      &:before {
        content: none;
      }

      > h2,
      > h3 {
        display: block;
        left: auto;
        margin-bottom: 2rem;
      }
    }
  }

  .cmp_article_list > li {
    margin-bottom: 3rem;
  }
}

@media (--tablets-landscape) {

  /**
   * Two-column layout when issue cover exists
   */
  .obj_issue_toc:has(.heading .cover) {

    & .heading {
      position: relative;

      &:before,
      &:after {
        content: none;
      }

      & .cover {
        position: absolute;
        left: 0;
        width: var(--issue-column-left-width);

        & img {
          max-width: none;
        }
      }

      & .description,
      & .published {
        margin-left: var(--issue-column-left-width);
        padding-left: var(--issue-gap);
      }
    }

    & .sections {
      margin-left: var(--issue-column-left-width);
      padding-left: calc(var(--issue-gap) - 1rem);
    }

    & .cmp_article_list {
      margin-left: 1rem;
    }
  }
}

@media (--laptops) {

  .obj_issue_toc {

    & .heading {
      margin-top: 4rem;
    }

    & .section {

      > h2,
      > h3 {
        font-size: 1.5rem;
      }
    }
  }
}