/**
 * Styles for the login, register, forgot
 * password, and registration complete pages
 */
.page_register,
.page_login,
.page_lost_password,
.page_register_complete {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  & h1 {
    font-size: 2rem;
  }
}

.page_login {

  & .password a {
    @apply tab-focus;
    display: inline-block;
    color: var(--page-text);
  }
}

.page_register {

  & .reviewer_interests {
    display: none;

    &.is_visible {
      display: block;
    }
  }

  & #formErrors {
    @apply tibop-notification;

    & .pkp_form_error_list a {
      @apply tab-focus;
      color: var(--page-text);
    }
  }
}

.page_register_complete {

  & .registration_complete_actions {

    & a {
      @apply tab-focus;
      color: var(--page-text);
    }
  }
}