/**
 * Styles for pages that show a PDF or
 * HTML galley.
 */
.header_view,
.header_view .return,
.header_view .title,
.header_view .download {
  background: var(--header-bg);
  color: var(--header-text);
}

.header_view .return,
.header_view .title,
.header_view .download {

  &:hover {
    background: var(--header-bg);
    color: var(--header-text);
  }

  @apply tab-focus;

  &:focus-visible {
    background: var(--header-bg);
    color: var(--header-text);
    outline-color: var(--header-text);
    outline-offset: -0.25rem;
  }
}
