/**
 * Styles for the default theme header at
 * the site level.
 *
 * On desktop, everything but the main navigation menu
 * is hidden.
 */
@media (--below-tablets-landscape) {

  .tibop-header-site + .pkp_head_wrapper {
    background: #fff;
    color: var(--tibop-header-text);
    box-shadow: 0 0 1rem 1rem #fff;

    & .pkp_site_name {

      & .is_img img {
        max-height: 2.25rem;
      }
    }

    & .pkp_site_nav_menu {
      background: #fff;
      box-shadow: 0 1rem 1rem 0 #fff;
    }

    & .pkp_nav_list {

      & a {
        font-weight: 500;
      }

      > li > a {
        font-weight: 900;
      }
    }
  }

}

@media (--tablets-landscape) {

  /**
   * Only modify header at site level
   *
   * @see templates/frontend/tibop-header.tpl
   */
  .pkp_structure_head:has(.tibop-header-site) {
    background: transparent;
  }

  .tibop-header-site.tibop-header-site {
    position: absolute;

    + .pkp_head_wrapper {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      min-height: auto;
      margin-right: 12rem;
      margin-left: 12rem;
      width: auto;

      .pkp_site_name_wrapper {
        display: none;
      }

      .pkp_navigation_primary_wrapper,
      .pkp_navigation_primary {
        display: flex;
        justify-content: center;
      }

      .pkp_navigation_primary {

        & a {
          border-radius: 9999px;
        }

        > li:hover ul {
          left: 0;
        }

        & ul {
          padding-inline-start: 0.5rem;
          padding-inline-end: 0.5rem;
          z-index: 99999;

          & a {
            @apply tab-focus;
            margin-left: 0;
            margin-inline-start: 0;

            &:hover {
              border-color: transparent;
              background: var(--tibop-header-shade);
            }

            &:focus-visible {
              border-color: transparent;
            }
          }
        }
      }
    }
  }

}