/**
 * Styles for the language selector
 */
.tibop-locales {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.tibop-locale {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--tibop-header-text);
  text-decoration: none;
  border-radius: 9999px;

  & abbr {
    text-decoration: none;
  }

  &:focus-visible {
    color: var(--tibop-header-text);
    outline: 2px solid;
    outline-offset: 0.25rem;
    text-decoration: none;
  }
}

.tibop-locale-current {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
}