/**
 * Styles for the TIB Open Publishing
 * bar at the top of every page.
 *
 * Hidden on small devices.
 */
.tibop-header {
  display: none;
}

@media (--tablets-landscape) {

  .tibop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 2rem;
    background: var(--tibop-header-bg);
    color: var(--tibop-header-text);
    font-family: var(--tibop-font);
  }

  .tibop-header-link {
    display: flex;
    border-radius: 0.25rem;

    &:focus-visible {
      outline: 2px solid var(--tibop-header-text);
      outline-offset: 0.25rem;
    }

    & svg {
      width: auto;
      height: 2rem;
    }
  }

  .tibop-header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .tibop-header-search-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0 0.75rem;
    height: 2rem;
    line-height: 2rem;
    background: var(--tibop-input-bg);
    color: var(--tibop-input-text);
    border-radius: 9999px;

    & input {
      font-size: 0.875rem;
      background: transparent;
      border: none;

      &:focus-visible {
        outline: none;
      }
    }

    &:focus-within {
      outline: 2px solid var(--tibop-input-text);
    }
  }

  /**
   * Override default theme's visible submit button
   * when tabbing through the form.
   */
  .tibop-header-search {
    position: relative;

    & button.pkp_screen_reader:focus {
      top: 0;
      right: 0;
      left: auto;
      padding: 0 1rem;
      height: 2rem;
      line-height: 2rem;
      background: transparent;
      border: none;
      border-radius: 9999px;
      box-shadow: none;
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--tibop-input-text);
      outline: 2px solid;
      outline-offset: -2px;
    }
  }

  .tibop-header-account-wrapper {

    & .dropdown-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      padding: 0;
      border: none;
      border-radius: 9999px;
      color: var(--tibop-header-text);

      & svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:focus-visible {
        outline: 2px solid;
      }
      &:hover {
        background: none;

        /**
         * Disable hover effect
         *
         * Default theme shows dropdown panels on hover.
         * Override this behavior so the user has to click
         * to show the account menu.
         *
         * Makes the dropdown match common behavior for
         * modern sites.
         */
        + .dropdown-menu { display: none;}
        + .dropdown-menu.show { display: block;}
      }
    }

    & .dropdown-menu {
      padding: 0.75rem 0;
      width: 14rem;
      background: var(--tibop-header-bg);
      color: var(--tibop-header-text);
      border-radius: 0.5rem;
      box-shadow: var(--overlay-shadow);
      z-index: 9999;
    }

    & .dropdown-divider {
      height: 1px;
      background-color: var(--tibop-header-shade);
      border: none;
    }

    .tibop-header-logged-in-as {
      padding: 0.75rem 1.5rem;
      font-size: 0.875rem;
      font-weight: 500;

      & strong {
        font-weight: 900;
      }

      & a {
        color: var(--tibop-header-text);
        border-radius: 9999px;

        &:focus-visible {
          outline: 2px solid;
          outline-offset: 0.5em;
          text-decoration: none;
        }
      }
    }

    /**
     * Override default nav menu styles
     */
    & .pkp_nav_list {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 1rem;
      font-size: 0.875rem;
      font-weight: 500;

      & ul {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        margin-left: 0.75rem;

        & li {
          display: inline-block;
        }
      }

      & a {
        padding: 0.25rem 1rem;
        border: none;
        color: var(--tibop-header-text);

        &:hover {
          background: var(--tibop-header-shade);
          color: var(--tibop-header-text);
        }

        &:focus-visible {
          background: transparent;
          outline: 2px solid;
          color: var(--tibop-header-text);
        }
      }

      & a,
      & ul li:first-child a,
      & ul li:last-child a {
        border-radius: 9999px;
      }

      & .task_count {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 9999px;
        background: var(--tibop-header-shade);
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }
}