/**
 * Form input styles
 */
.input {
  padding: 0.5rem 1rem;
  background: var(--page-bg);
  color: var(--page-text);
  border: 1px solid var(--page-text);
  border-radius: var(--radius);
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: var(--font);
  font-weight: 400;
  height: auto;

  &:focus,
  &:focus-visible {
    background: var(--page-bg);
    outline: 2px solid;
  }
}

.label {
  font-size: 1rem;
  font-weight: 500;
}