/**
 * Button styles
 *
 * These classes can be applied using Tailwind's
 * @apply directive. Example:
 *
 * .pkp_example_link {
 *   @apply tibop-button;
 * }
 */
.tibop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  border: var(--button-border);
  border-radius: var(--button-radius);
  color: var(--button-text);
  background: var(--button-bg);
  font-weight: 700;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: var(--button-text);
  }

  &:focus-visible {
    outline: 2px solid var(--button-bg);
    outline-offset: 0.25rem;
  }
}

.tibop-button-wire {
  @apply tibop-button;
  background: var(--page-bg);
  border: 1px solid var(--page-text);
  color: var(--page-text);

  &:hover {
    color: var(--page-text);
  }

  &:focus-visible {
    outline: 2px solid var(--page-text);
    outline-offset: 0.25rem;
  }
}

.tibop-button-grey {
  @apply tibop-button;
  background: var(--button-grey-bg);
  color: var(--button-grey-text);

  &:hover {
    color: var(--button-grey-text);
  }

  &:focus-visible {
    outline: 2px solid;
  }
}