:root {
  --blue-default: #1E6292;
  --light-grey: #EDEDED;
  --dark-grey: #4A4A4A;

  --tibop-header-bg: var(--light-grey);
  --tibop-header-text: var(--dark-grey);
  --tibop-header-shade: rgba(0, 0, 0, 0.1);
  --tibop-input-bg: var(--tibop-header-shade);
  --tibop-input-text: var(--dark-grey);

  --tibop-font: Quicksand, system-ui, -apple-system, BlinkMacSystemFont, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --header-bg: var(--blue-default);
  --header-text: 'white';
  --page-bg: #fff;
  --page-text: #000;
  --page-shade: var(--light-grey);
  --overlay-bg: var(--page-bg);
  --overlay-text: var(--page-text);
  --overlay-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  --footer-bg: var(--light-grey);
  --footer-text: #000;
  --footer-btm-bg: #fff;

  --radius: 0.25rem;

  --button-bg: var(--blue-default);
  --button-text: #fff;
  --button-radius: var(--radius);
  --button-border: none;
  --button-grey-bg: var(--light-grey);
  --button-grey-text: var(--page-text);
}

@custom-media --tablets (min-width: 768px);
@custom-media --tablets-landscape (min-width: 992px);
@custom-media --below-tablets-landscape (max-width: 991px);
@custom-media --laptops-sm (min-width: 1200px);
@custom-media --laptops (min-width: 1536px);
@custom-media --laptops-lg (min-width: 1920px);
@custom-media --desktops (min-width: 2560px);
