:root {

  --blue-default: '#1E6292';
  --light-grey: #EDEDED;
  --dark-grey: #4A4A4A;

  --tibop-header-bg: var(--light-grey);
  --tibop-header-text: var(--dark-grey);
  --tibop-header-shade: rgba(0, 0, 0, 0.1);
  --tibop-input-bg: var(--tibop-header-shade);
  --tibop-input-text: var(--dark-grey);

  --tibop-font: Quicksand, system-ui, -apple-system, BlinkMacSystemFont, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --header-bg: var(--blue-default);
  --header-text: 'white';
  --page-bg: #fff;
  --page-text: #000;
  --overlay-bg: var(--page-bg);
  --overlay-text: var(--page-text);
  --overlay-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  --radius: 0.25rem;
}

@custom-media --tablets (min-width: 768px);
@custom-media --tablets-landscape (min-width: 992px);
@custom-media --laptops-sm (min-width: 1200px);
@custom-media --laptops (min-width: 1536px);
@custom-media --laptops-lg (min-width: 1920px);
@custom-media --desktops (min-width: 2560px);
